.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 100%;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 92px;
    padding-bottom: 96px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: underline;
    font-size: 18px;
    line-height: 100%;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 138px;
    height: 105px;
}

.header__logo-image {
    background-size: 100%;
}

.contacts {
    font-style: normal;
    list-style-type: none;
    display: grid;
    gap: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    padding-right: 35px;
    font-family: Raleway, sans-serif;
}

.cover {
    position: relative;
    width: 100%;
    min-height: 757px;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 160px;
    margin-bottom: 105px;
    display: grid;
}

.aligned-text {
    color: #ffffff;
}

.aligned-text_left {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text_center {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.aligned-text_right {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-align: right;
    margin-top: 20px;
    text-transform: uppercase;
}

.cover__description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1000px;
    margin-left: 48px;
    z-index: 2;
}

.cover__description-text {
    grid-column: 1 / 3;
    color: #ffffff;
    align-self: center;
    justify-self: start;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet-button {
    grid-column: 3 / 4;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    margin-left: 90px;
}

.lots {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 180px 24px 150px 24px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style-type: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    justify-self: start;
    align-self: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 55px;
}

.card__text {
    position: relative;
    z-index: 2;
    justify-self: end;
    align-items: center;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 28px;
    padding-bottom: 45px;
}

.lots__look-more-link {
    margin-left: 40px;
    margin-top: 35px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 359px 1fr;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 120px;
}

.about__column {
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 10px;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-bottom: 385px;
}

.about__logo img {
    width: 148px;
    height: 114px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 30px;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 264px 1fr 240px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    align-items: start;
    padding-bottom: 82px;
}

.footer__address {
    grid-column: 1;
    justify-self: start;
    align-self: start;
    max-width: 240px;
}

.footer__menu {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list-item {
    list-style-type: none;
    font-size: 19px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 240px;
    justify-self: end;
    align-self: start;
}

.footer__social-icon {
    list-style-type: none;
    width: 48px;
    height: 48px;
}
